<template>
  <div>
    <v-toolbar flat color="white">
      <v-btn
        to="/"
        icon
        color="primary"
      >
        <v-icon>keyboard_arrow_left</v-icon>
      </v-btn>

      <v-toolbar-title>Заявка № {{ currentTicketId }}</v-toolbar-title>
      <v-divider
        class="mx-4"
        inset
        vertical
      ></v-divider>
      <v-spacer></v-spacer>

      <v-dialog v-model="dialog" max-width="750px">
        <template v-slot:activator="{ on }">
          <v-btn icon color="primary" v-on="on">
            <v-icon dark>edit</v-icon>
          </v-btn>
        </template>
        <v-card>
          <v-card-title>
            <span class="headline">Редактирование заявки № {{ currentTicketId }}</span>
          </v-card-title>

          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12" md="6">
                  <v-text-field v-model="ticket.ticket_contact" label="Контакт" />
                </v-col>
                <v-col cols="12" md="6">
                  <v-menu
                    v-model="editTicket.date"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        v-model="$moment(ticket.ticket_date).format('Do MMMM YYYY')"
                        label="Дата"
                        persistent-hint
                        prepend-icon="event"
                        v-on="on"
                      />
                    </template>
                    <v-date-picker v-model="ticket.ticket_date" locale="ru" no-title @input="editTicket.date = false"></v-date-picker>
                  </v-menu>
                </v-col>
                <v-col cols="12" md="12">
                  <v-textarea
                    label="Текст заявки"
                    v-model="ticket.description"
                    rows="10"
                    outlined
                  />
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="danger darken-1" @click="close">Отмена</v-btn>
            <v-btn color="primary darken-1" @click="save" :disabled="!formIsValid">Сохранить</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

    </v-toolbar>

    <v-alert type="error" :value="!!error">
      {{error}}
    </v-alert>

    <v-container class="lighten-5" fluid>
      <v-row>
        <v-col md="3">
          <v-card
            class="mx-auto"
          >
            <v-list-item>
              <v-list-item-avatar>
                <UserAvatar :fio="ticket.user_name" :size="40" />
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title class="headline">{{ticket.customer_name}}</v-list-item-title>
                <v-list-item-subtitle>{{ticket.user_name}}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-divider class="mx-2"></v-divider>
            <v-card-title>Категории работ</v-card-title>
            <v-card-text>
              <v-chip-group
                active-class="blue accent-4 white--text"
                column
              >
                <v-chip x-small>1c</v-chip>
                <v-chip x-small>Технические работы</v-chip>
                <v-chip x-small>Раз</v-chip>
                <v-chip x-small>Два</v-chip>
              </v-chip-group>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col md="9">
          <v-card
            class="mx-auto"
          >
            <v-list-item three-line>
              <v-list-item-content>
                <div class="overline mb-4">
                  {{$moment(ticket.created_at).format('Do MMMM, HH:mm')}} -
                  <v-chip :color="getColor(ticket.status_id)" x-small dark>{{ ticket.status_name }}</v-chip>
                </div>
                <v-list-item-title class="headline mb-1">{{ticket.customer_name}}</v-list-item-title>
                <v-list-item-subtitle>Тел. {{ticket.ticket_contact}}</v-list-item-subtitle>
              </v-list-item-content>

              <v-tooltip left>
                <template v-slot:activator="{ on }">
                  <v-list-item-avatar
                    tile
                    size="80"
                    v-on="on"
                  >
                    <UserAvatar :fio="ticket.manager_name" :size="80" />
                  </v-list-item-avatar>
                </template>
                <span>{{ticket.manager_name}}</span>
              </v-tooltip>
            </v-list-item>
            <v-card-text>
              {{ticket.description}}
            </v-card-text>
            <v-card-actions>
              <v-btn color="success" dark>Назначить меня исполнителем</v-btn>
            </v-card-actions>
          </v-card>

          <v-card class="mx-auto my-5">
            <v-card-title>Статус заявки</v-card-title>
            <v-simple-table>
              <template v-slot:default>
                <thead>
                  <tr>
                    <th class="text-left">Дата</th>
                    <th class="text-left">Пользователь</th>
                    <th class="text-left">Статус</th>
                    <th class="text-left">Комментарий</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="state in ticketStates" :key="state.id">
                    <td>{{ $moment(state.date).format('Do MMMM YYYY, HH:mm:ss') }}</td>
                    <td>{{ state.user_name }}</td>
                    <td>{{ state.state_name }}</td>
                    <td>{{ state.comment }}</td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
            <v-card-actions>
              <v-btn>Добавить</v-btn>
            </v-card-actions>
          </v-card>

        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
  import UserAvatar from '~/components/UserAvatar.vue'
  export default {
    components: {UserAvatar},
    head () {
      return {
        title: 'Детальная заявка № ' + this.currentTicketId,
      }
    },
    data() {
      return {
        error: '',
        currentTicketId: 0,
        loading: false,
        ticket: {},
        ticketStates: [],
        dialog: false,
        editTicket:{
          date: false,
        }
      }
    },
    watch: {
      dialog (val) {
        val || this.close()
      },
    },
    computed: {
      formIsValid () {
        return (
          this.ticket.description &&
          this.ticket.ticket_date
        )
      },
    },
    mounted() {
      this.currentTicketId = Number(this.$route.params.id);
      this.loadTicket()
      this.loadState()
    },
    methods: {
      loadTicket() {
        this.loading = true
        this.$axios.get('/tickets/' + this.currentTicketId)
          .then((resp) => {
            this.ticket = resp.data
            this.$axios.post('/tickets/' + this.currentTicketId + '/read')
            console.log("tickets", resp.data)
          })
          .catch(err => {
            this.error = 'Ошибка загрузки заявки'
            console.log(err);
          })
          .finally(() => {
            this.loading = false
          });
      },
      loadState() {
        this.loading = true
        this.$axios.get('/tickets/' + this.currentTicketId + '/state')
          .then((resp) => {
            this.ticketStates = resp.data
            console.log("states", resp.data)
          })
          .catch(err => {
            this.error = 'Ошибка загрузки статусов'
            console.log(err);
          })
          .finally(() => {
            this.loading = false
          });
      },

      close () {
        this.dialog = false
      },

      save () {
        this.close()
      },

      getColor (id) {
        if (id === 2) return 'red'
        else if (id === 3) return 'orange'
        else return 'green'
      },
    },
  }
</script>
