<template>
  <v-menu
          v-if="appsMenu.length > 0"
          offset-y
  >
    <template v-slot:activator="{ on }">
      <v-btn
              icon
              v-on="on"
              color="white"
      >
        <v-icon>apps</v-icon>
      </v-btn>
    </template>
    <v-card>
      <v-container
              grid-list-md
              text-xs-center
              class="apps-menu"
      >
        <v-row>
          <v-col
                  v-for="(item, i) in appsMenu"
                  :key="i"
                  cols="4"
                  xs="4"
          >
            <a
                    class="apps-menu_link"
                    :href="item.url"
            >
              <v-hover>
                <div
                        slot-scope="{ hover }"
                        class="py-2 text-center"
                        :class="`elevation-${ hover ? 1 : 0 }`"
                >
                  <v-avatar :color="item.color ? item.color : 'orange darken-2'">
                    <v-icon
                            v-if="item.icon"
                            dark
                            x-large
                    >
                      {{item.icon}}</v-icon>
                    <img
                            v-if="item.image"
                            :src="item.image"
                    >
                  </v-avatar>
                  <p class="body-2 my-1 text-truncate text-center font-weight-regular black--text">{{item.title}}</p>
                </div>
              </v-hover>
            </a>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
  </v-menu>
</template>

<script>
    export default {
      name: "AppsMenu",
      data() {
        return {
          appsMenu: [],
        }
      },
      mounted() {
        this.appsMenu = []
      }
    }
</script>
