<template>
  <div>
    <v-snackbar
      absolute
      top
      v-model="snackbar"
    >
      {{ text }}
      <v-btn
        text
        @click="snackbar = false"
      >
        Закрыть
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
  import Centrifuge from 'centrifuge'
  let centrifuge = new Centrifuge(process.env.socketUrl + '/connection/websocket', {
    refreshEndpoint: process.env.baseUrl + '/refresh-token',
  });

  export default {
    name: "ToastTicket",
    data() {
      return {
        message: null,
        snackbar: false,
        text: "",
      }
    },
    mounted() {
      let token = this.$auth.getToken('local').split(' ')[1]
      let refreshToken = this.$auth.getRefreshToken('local')

      let user = this.$auth.getState('user')
      if (user.is_admin === true || user.is_staff === true) {
        let audio = new Audio('/sound.mp3')
        centrifuge.setToken(token);
        centrifuge.setRefreshData({"refresh_token": refreshToken})
        centrifuge.subscribe("tickets", (msg) => {
          //let UnreadTicketCnt = this.$store.state.ticketUnRead
          console.log(msg)
          this.text = 'Заявка №' + msg.data.id
          this.snackbar = true
          audio.play();
          this.$store.commit('increment')
          this.$store.commit('setTicket', msg.data)
        });

        centrifuge.connect();
      }
    },
    methods: {

    }
  }
</script>
