<template>
  <v-avatar color="primary" :size="size">
    <span class="white--text headline">{{firstSymbols}}</span>
  </v-avatar>
</template>

<script>
  export default{
    name: "UserAvatar",
    props: ['fio', 'size'],
    data() {
      return {
        type: 'blank',
      }
    },
    computed: {
      firstSymbols() {
        if (typeof this.fio === 'undefined') {
          return ''
        }
        let fioWords = this.fio.split(" ")
        if (fioWords.length === 0) {
          return "-"
        }
        if (fioWords.length === 1) {
          return fioWords[0][0]
        }
        return fioWords[0][0] + fioWords[1][0]
      }
    }
  }
</script>
