<template>
  <v-menu
          v-if="user!=null"
          offset-y
  >
    <template v-slot:activator="{ on }">
      <v-btn
              icon
              class="mr-0"
              v-on="on"
      >
        <v-avatar
                :tile="false"
                size="32"
                color="grey lighten-4"
        >
          <img :src="'https://www.gravatar.com/avatar/' + user.avatar + '?s=64&d=robohash'"
               alt="avatar"
          />
        </v-avatar>
      </v-btn>
    </template>
    <v-list>
      <v-list-item>
        <v-list-item-avatar>
          <img
            :src="'https://www.gravatar.com/avatar/' + user.avatar + '?s=64&d=robohash'"
            :alt="user.name"
          />
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title v-text="user.name" />
          <v-list-item-subtitle v-text="user.email" />
        </v-list-item-content>
      </v-list-item>

      <v-list-item-group>
        <v-list-item>
          <v-list-item-icon>
            <v-icon>person</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>Профиль</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item v-on:click="logout">
          <v-list-item-icon>
            <v-icon>exit_to_app</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>Выход</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>

    </v-list>
  </v-menu>
</template>

<script>
    export default {
      name: "UserProfileMenu",
      data() {
        return {
          user: null,
          userMenu: [],
        }
      },
      mounted() {
        let user = this.$auth.getState('user')
        this.user = {
          name: user.name,
          email: user.email,
          avatar: user.avatar,
        }
      },
      methods: {
        logout() {
          this.$auth.logout()
          this.$router.replace({ name: 'login' });
        }
      }
    }
</script>
