<template>
  <div>
    <v-data-table
      :headers="headers"
      :items="reports"
      class="elevation-1"
      hide-default-footer
      :page.sync="page"
      :server-items-length="totalReports"
      loading-text="Загрузка актов"
      :loading="loading"
    >
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-toolbar-title>Акты:</v-toolbar-title>
          <v-divider
            class="mx-4"
            inset
            vertical
          />
        </v-toolbar>
      </template>
      <template v-slot:item.actions="{ item }">
        <v-btn class="ma-2" text icon color="blue lighten-2" :to="{ name: 'reports-id', params: { id: item.id }}">
          <v-icon>zoom_in</v-icon>
        </v-btn>

      </template>
      <template v-slot:no-data>
        <v-btn color="primary">Обновить</v-btn>
      </template>
    </v-data-table>
    <div class="text-center pt-2">
      <v-pagination
        v-model="page"
        :length="Math.floor(totalReports / itemsPerPage)"
        :total-visible="10"
      />
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        reports: [],
        headers: [
          { text: '№', value: 'id' },
          { text: 'Автор', value: 'user_name' },
          { text: 'Работы', value: 'job_description' },
          { text: 'Клиент', value: 'customer_name' },
          { text: 'Действия', value: 'actions', sortable: false },
        ],
        totalReports: 0,
        page: 1,
        itemsPerPage: 50,
        loading: false,
        error: '',
      }
    },
    watch: {
      page: {
        handler () {
          this.loadReports()
        },
      },
    },
    mounted() {
      this.loadReports();
    },
    methods: {
      loadReports() {
        this.loading = true

        this.$axios.get('/reports', {
          params: {
            limit: this.itemsPerPage,
            offset: (this.page - 1) * this.itemsPerPage,
          }
        })
          .then((resp) => {
            this.reports = resp.data.reports
            this.totalReports = resp.data.count
            console.log("reports", resp.data)
          })
          .catch(err => {
            this.error = `Ошибка загрузки актов`;
            console.log(err);
          })
          .finally(() => {
            this.loading = false
          });
      },
    },
  }
</script>
