<template>
  <div>
    <v-toolbar flat color="white">
      <v-btn
        to="/users"
        icon
        color="primary"
      >
        <v-icon>keyboard_arrow_left</v-icon>
      </v-btn>

      <v-toolbar-title>Клиент № {{ currentUserId }}</v-toolbar-title>
      <v-divider
        class="mx-4"
        inset
        vertical
      ></v-divider>
      Информация о пользователе: <br>
      <v-btn
        v-on:click="someSocket"
      >
        тест
      </v-btn>
    </v-toolbar>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        currentUserId: 0,
        loading: false,
        report: {},

        events: [],
        input: null,
        nonce: 0,
      }
    },
    mounted() {
      this.currentUserId = Number(this.$route.params.id);
      this.loadReport()
    },
    methods: {
      loadReport() {
        this.$axios.get('/users/' + this.currentUserId)
          .then((resp) => {
            this.report = resp.data
            console.log("user", resp.data)
          })
          .catch(err => {
            this.error = 'Ошибка загрузки пользователя'
            console.log(err);
          })
          .finally(() => {
            this.loading = false
          });
      },
    },
  }
</script>
