<template>
  <div>
    <v-data-table
      :headers="headers"
      :items="users"
      class="elevation-1"
      hide-default-footer
      disable-sort
      :page.sync="page"
      :server-items-length="totalUsers"
      loading-text="Загрузка пользователей"
      :loading="loading"
    >
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-toolbar-title>Пользователи:</v-toolbar-title>
          <v-divider
            class="mx-4"
            inset
            vertical
          />
        </v-toolbar>
      </template>
      <template v-slot:item.actions="{ item }">
        <v-btn class="ma-2" text icon color="blue lighten-2" :to="{ name: 'users-id', params: { id: item.id }}">
          <v-icon>zoom_in</v-icon>
        </v-btn>

      </template>
      <template v-slot:no-data>
        <v-alert type="error" :value="!!error">
          {{error}}
        </v-alert>
        <v-btn color="primary" @click="loadUsers">Обновить</v-btn>
      </template>
    </v-data-table>
    <div class="text-center pt-2">
      <v-pagination
        v-model="page"
        :length="Math.floor(totalUsers / itemsPerPage)"
        :total-visible="10"
      />
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        users: [],
        headers: [
          { text: '№', value: 'id' },
          { text: 'Наименование', value: 'name' },
          { text: 'Телефон', value: 'phone' },
          { text: 'Действия', value: 'actions', sortable: false },
        ],
        totalUsers: 0,
        page: 1,
        itemsPerPage: 10,
        loading: false,
        error: '',
      }
    },
    watch: {
      page: {
        handler () {
          this.loadUsers()
        },
      },
    },
    mounted() {
      this.loadUsers();
    },
    methods: {
      loadUsers() {
        this.loading = true

        this.$axios.get('/users', {
          params: {
            limit: this.itemsPerPage,
            offset: (this.page - 1) * this.itemsPerPage,
          }
        })
          .then((resp) => {
            this.users = resp.data.users
            this.totalUsers = resp.data.count
            console.log("users", resp.data)
          })
          .catch(err => {
            this.error = `Ошибка загрузки пользователей`;
            console.log(err);
          })
          .finally(() => {
            this.loading = false
          });
      },
    },
  }
</script>
