<template>
  <div>
    <v-toolbar flat color="white">
      <v-btn
        to="/customers"
        icon
        color="primary"
      >
        <v-icon>keyboard_arrow_left</v-icon>
      </v-btn>

      <v-toolbar-title>Клиент № {{ currentCustomerId }}</v-toolbar-title>
      <v-divider
        class="mx-4"
        inset
        vertical
      ></v-divider>
      Информация о клиенте:
    </v-toolbar>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        currentCustomerId: 0,
        loading: false,
        report: {},

        events: [],
        input: null,
        nonce: 0,
      }
    },
    watch: {},
    mounted() {
      this.currentCustomerId = Number(this.$route.params.id);
      this.loadReport()
    },
    methods: {
      loadReport() {
        this.$axios.get('/customers/' + this.currentCustomerId)
          .then((resp) => {
            this.report = resp.data
            console.log("customer", resp.data)
          })
          .catch(err => {
            this.error = 'Ошибка загрузки клиента'
            console.log(err);
          })
          .finally(() => {
            this.loading = false
          });
      },
    },
  }
</script>
