<template>
  <v-app>
    <ToastTicket />
    <v-navigation-drawer
      v-model="drawer"
      app
      :clipped="$vuetify.breakpoint.lgAndUp"
    >
      <v-list>
        <v-list-item-group color="primary">
          <v-list-item
            v-for="(item, i) in menu"
            :key="i"
            :to="item.to"
          >
            <v-list-item-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title
                v-text="item.title"
                class="body-2 font-weight-medium"
              />
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar
      :clipped-left="$vuetify.breakpoint.lgAndUp"
      app
      dark
      color="blue darken-3"
      class="shrink px-2"
    >
      <v-app-bar-nav-icon @click="drawer = !drawer" />
      <v-toolbar-title
        style="width: 300px"
        class="ml-0 pl-4"
      >
        <span class="hidden-sm-and-down">{{appName}}</span>
      </v-toolbar-title>

      <v-spacer></v-spacer>
      <v-btn icon>
        <v-icon>apps</v-icon>
      </v-btn>

      <v-btn icon>
        <v-badge
          :content="$store.state.counter"
          :value="$store.state.counter"
          color="green"
          overlap
        >
          <v-icon>notifications</v-icon>
        </v-badge>
      </v-btn>

      <AppsMenu />
      <UserProfileMenu />
    </v-app-bar>
    <v-content>
      <v-container fluid class="py-6">
        <nuxt />
      </v-container>
    </v-content>
    <v-footer class="py-2 px-4 body-2">
      <div>
        Система управления заявками
      </div>
    </v-footer>
  </v-app>
</template>

<script>
  import UserProfileMenu from '~/components/UserProfileMenu.vue'
  import ToastTicket from '~/components/ToastTicket.vue'
  import AppsMenu from '~/components/AppsMenu.vue'
  import config from '~/config/config'

  export default {
    components: {UserProfileMenu, AppsMenu, ToastTicket},
    data() {
      return {
        drawer: true,
        menu: config.menu,
        appName: config.appName,
        ticketCnt: 0,
      }
    },
  }
</script>
