<template>
  <v-app id="inspire">
    <v-content>
      <v-container
        fluid
      >
        <v-row
          align="start"
          justify="center"
        >
          <v-col
            cols="12"
            sm="8"
            md="4"
          >
            <div class="text-center">
              <img
                src="/logo.png"
                alt="Иннтех - инновационные технологии"
                class="my-7"
              >
            </div>
            <v-form @submit.prevent="userLogin" id="check-login-form">
              <v-card class="elevation-12">
                <v-toolbar
                  color="primary"
                  dark
                  flat
                >
                  <v-toolbar-title>Авторизация</v-toolbar-title>
                </v-toolbar>
                <v-card-text>
                  <v-alert
                    type="error"
                    :value="!!error"
                  >{{error}}</v-alert>
                  <v-form>
                    <v-text-field
                      label="Логин"
                      name="login"
                      type="text"
                      prepend-icon="person"
                      v-model="username"
                    />

                    <v-text-field
                      id="password"
                      label="Пароль"
                      name="password"
                      type="password"
                      prepend-icon="lock"
                      v-model="password"
                    />
                  </v-form>
                </v-card-text>
                <v-card-actions>
                  <v-spacer />
                  <v-btn
                    type="submit"
                    color="primary"
                    form="check-login-form"
                    :disabled="!formIsValid"
                    :loading="loading"
                  >
                    Авторизация
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-form>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
  export default {
    head() {
      return {
        title: 'Авторизация',
      }
    },
    data() {
      return {
        title: 'Авторизация',
        username: '',
        password: '',
        error: '',
        loading: false,
      }
    },
    computed: {
      formIsValid () {
        return (
          this.username &&
          this.password
        )
      },
    },
    methods: {
      userLogin() {
        this.loading = true;
        console.log("baseUrl", this.$axios.defaults.baseURL)
        this.$axios.post('/login', {
          login: this.username,
          password: this.password
        }).then((resp) => {
          this.$auth.setToken('local', 'Bearer ' + resp.data.access_token)
          this.$auth.setRefreshToken('local', resp.data.refresh_token)
          this.$axios.setHeader('Authorization', 'Bearer ' + resp.data.access_token)
          this.$auth.ctx.app.$axios.setHeader('Authorization', 'Bearer ' + resp.data.access_token)
          this.$axios.get('/users/me').then((resp) => {
            this.$auth.setUser(resp.data)
            this.$router.push('/')
          })
        }).catch((err) => {
          this.error = err.message
          if (err.response) {
            if (err.response.status === 403) {
              this.error = 'Неправильный логин или пароль'
            }
          }
          console.log("error message ><", err.message)
          console.log("text of error", err)
        }).finally(() =>{
          this.loading = false
        })
      },
    }
  }
</script>
