<template>
  <div>
    <v-overlay :value="loading">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>

    <v-card
      class="mx-auto"
    >
      <v-toolbar color="white" flat extended>
        <v-toolbar-title>Список заявок:</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-flex md1>
          <v-switch
            v-model="filterArchive"
            hide-details
            label="Архив"
          />
        </v-flex>
        <v-flex sm4 md4>
          <v-autocomplete
            v-model="filterCustomer"
            :items="filters.customer.items"
            :loading="filters.customer.loading"
            item-value="id"
            item-text="name"
            hide-details
            label="Клиент"
            no-data-text="нет данных"
            class="mx-5"
          />
        </v-flex>
        <v-flex sm3 md3>
          <v-select
            v-model="filterManager"
            :items="filters.manager.items"
            :loading="filters.manager.loading"
            item-value="id"
            item-text="name"
            hide-details
            label="Исполнитель"
            class="mr-5"
          />
        </v-flex>
        <v-flex sm2 md2>
          <v-dialog
            ref="dialog"
            v-model="filters.isModal"
            :return-value.sync="filterDates"
            persistent
            width="290px"
          >
            <template v-slot:activator="{ on }">
              <v-text-field
                v-model="filterDates"
                label="Даты"
                hide-details
                readonly
                append-icon="clear"
                v-on="on"
                @click:append="filterDates = []"
              ></v-text-field>
            </template>
            <v-date-picker locale="ru" first-day-of-week="1" v-model="filterDates" range>
              <v-spacer></v-spacer>
              <v-btn text color="primary" @click="filters.isModal = false">Отмена</v-btn>
              <v-btn text color="primary" @click="$refs.dialog.save(filterDates)">Ок</v-btn>
            </v-date-picker>
          </v-dialog>
        </v-flex>

        <template v-slot:extension>
          <v-text-field
            :loading="searchLoading"
            v-model="search"
            prepend-inner-icon="search"
            label="Поиск"
          />
        </template>

      </v-toolbar>
      <v-alert type="error" :value="!!error">
        {{error}}
      </v-alert>
      <v-list two-line>
        <v-list-item-group
          :loading="loading"
        >
          <template v-for="(item, index) in tickets">
            <v-list-item
              :key="item.title"
              link
              :to="{ name: 'tickets-id', params: { id: item.id }}"
              :class="{'light-blue lighten-5': !item.is_read}"
            >
              <template v-slot:default="{ active, toggle }">
                <v-list-item-avatar>
                  <UserAvatar :fio="item.user_name" :size="40" />
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title>
                    <span class="blue--text">{{item.customer_name}}</span> {{ item.user_name }}
                  </v-list-item-title>
                  <v-list-item-subtitle class="text--primary">
                    <v-chip :color="getColor(item.status_id)" x-small dark>{{ item.status_name }}</v-chip>
                    {{item.manager_name}}
                  </v-list-item-subtitle>
                  <v-list-item-subtitle v-text="item.description"></v-list-item-subtitle>
                </v-list-item-content>

                <v-list-item-action>
                  <v-list-item-action-text>№{{item.id}}</v-list-item-action-text>
                  <v-list-item-action-text>{{$moment(item.created_at).format('Do MMMM, HH:mm')}}</v-list-item-action-text>
                  <v-icon color="blue darken-2" v-if="item.messages_count !== 0">message</v-icon>
                </v-list-item-action>
              </template>
            </v-list-item>

            <v-divider
              v-if="index + 1 < tickets.length"
              :key="index"
            ></v-divider>
          </template>
        </v-list-item-group>
      </v-list>
      <div class="text-center pt-2">
        <v-pagination
          v-model="page"
          :length="Math.floor(totalTickets / itemsPerPage)"
          :total-visible="10"
        />
      </div>
    </v-card>
  </div>
</template>

<script>
  import UserAvatar from '~/components/UserAvatar.vue'

  export default {
    components: {UserAvatar},
    head () {
      return {
        title: "Список заявок",
      }
    },
    data() {
      return {
        tickets: [],
        totalTickets: 0,
        page: 1,
        itemsPerPage: 50,
        options: {},
        loading: false,
        error: '',
        filterManager: 0,
        filterCustomer: 0,
        filterArchive: false,
        filterDates: [],
        filters: {
          manager: {
            loading: false,
            items: [
              {id: 0, name: "Не выбран"}
            ],
          },
          customer: {
            loading: false,
            items: [
              {id: 0, name: "Не выбран"}
            ],
          },
          isModal: false,
        },
        search: '',
        searchLoading: false,
      }
    },
    watch: {
      page: {
        handler () {
          this.loadTickets()
        },
      },
      filterManager: {
        handler () {
          this.loadTickets()
        },
      },
      filterCustomer: {
        handler () {
          this.loadTickets()
        },
      },
      filterArchive: {
        handler () {
          this.loadTickets()
        },
      },
      filterDates: {
        handler () {
          this.loadTickets()
        }
      },
      search: {
        handler () {
          this.querySelections()
        },
      },
      newTicket (newVal) {
        this.tickets.unshift(newVal)
      }
    },
    mounted() {
      this.loadTickets();
      this.loadManagers();
      this.loadCustomers();
    },
    computed: {
      newTicket () {
        return this.$store.state.ticket
      }
    },
    methods: {
      loadTickets() {
        this.loading = true
        this.$axios.get('/tickets', {
          params: {
            limit: this.itemsPerPage,
            offset: (this.page - 1) * this.itemsPerPage,
            customer: this.filterCustomer,
            manager: this.filterManager,
            archive: this.filterArchive === true ? 1 : 0,
            date_start: this.filterDates[0] === undefined ? '' : this.filterDates[0],
            date_end: this.filterDates[1] === undefined ? '' : this.filterDates[1],
          }
        })
          .then((resp) => {
            this.tickets = resp.data.tickets
            this.totalTickets = resp.data.count
          })
          .catch(err => {
            this.error = `Ошибка загрузки заявок`;
            console.log(err);
          })
          .finally(() => {
            this.loading = false
          });
      },

      loadManagers() {
        this.filters.manager.loading = true
        this.$axios.get('/users/managers')
          .then((resp) => {
            resp.data.forEach((manager) => {
              this.filters.manager.items.push({
                id: manager.id,
                name: manager.name,
              })
            })
            //this.filters.manager.items.push(resp.data)
          })
          .catch(err => {
            this.error = `Ошибка загрузки списка менеджеров`;
            console.log(err);
          })
          .finally(() => {
            this.filters.manager.loading = false
          });
      },

      loadCustomers() {
        this.filters.customer.loading = true
        this.$axios.get('/customers')
          .then((resp) => {
            resp.data.customers.forEach((customer) => {
              this.filters.customer.items.push({
                id: customer.id,
                name: customer.name,
              })
            })
            //console.log(resp.data)
          })
          .catch(err => {
            this.error = `Ошибка загрузки списка клиентов`;
            console.log(err);
          })
          .finally(() => {
            this.filters.customer.loading = false
          });
      },

      querySelections () {
        if (this.search.length === 0 && this.tickets.length === 0) {
          this.loadTickets()
          return
        }
        if (this.search.length < 3) {
          return
        }

        this.searchLoading = true
        this.$axios.get('/tickets/search', {
          params: {
            text: this.search,
          }
        })
          .then((resp) => {
            console.log("search", resp.data)
            this.tickets = resp.data.tickets
          })
          .catch(err => {
            console.log(err);
          })
          .finally(() => {
            this.searchLoading = false
          });
      },

      getColor (id) {
        if (id === 2) return 'red'
        else if (id === 3) return 'orange'
        else return 'green'
      },

    },
  }
</script>
